form {
  border: 2px dashed #000;
  padding: 30px 50px;
  font-size: 30px;
  font-weight: 700;
}
.columnWrapper {
  display: flex;
  flex-direction: column;
}

form label,
select {
  margin-bottom: 40px;
}
input {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
}

span {
  margin-right: 40px;
}
